* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    width: 100%;
}
body {
    width: 100%;
    position: relative;
}
.tiles {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button {
    outline: none;
    padding: 5px 10px;
    border: none;
    border: 2px solid rgb(0, 85, 255);
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 100ms ease-in;
}
.button_noborder {
    border: none;
    transition: none;
}
.button_yellow {
    border: 2px solid rgb(255, 255, 0);
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.button:active {
    background-color: rgba(255, 255, 0, 0.3);
}
.header {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 25px;
    background-color: rgba(38, 0, 255, 0);
    overflow: hidden;
    background-color: rgb(40, 40, 40);
}
.header_button {
    padding: 10px 20px;
    text-align: center;
    transition: background-color 100ms ease-in;
} 
.header_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
} 
.main {
    padding: 15px;
    height: 100vh;
    width: 100%;
    background-color: rgba(13, 13, 13);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.card {
    color: white;
    background-color: rgb(33, 33, 33);
    padding: 15px;
    border-radius: 15px;
    width: 37rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text, p, input {
    font-size: 2rem;
    color: white;
    font-family: "Trebuchet MS";
    font-weight: 300;
}
.input-wrapper {
    display: flex;
}
.input-wrapper>*:first-child {
    flex-grow: 1;
}
input {
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.green {
    color: rgb(0, 198, 0);
}
.red {
    color: rgb(198, 33, 0);
}
input {
    background-color: rgb(33, 33, 33);
    padding: 1rem;
    outline: none;
    border: none;
    border: 2px solid white;
    border-radius: 20px;
}
.text_strong {
    font-weight: 500;
}
.text_small {
    font-size: 1.5rem;
}
.text_offset-small {
    padding: 2rem 0;
}
.text_inverse {
    color: black;
}
.text_mid {
    font-size: 3rem;
}
.text_big {
    font-size: 5rem;
}
.text_center {
    text-align: center;
}

.footer {
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(38, 0, 255, 1);
}

@media only screen and (max-width: 1450px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 8px;
    }
}
@media only screen and (max-height: 700px) {
    html {
        font-size: 8px;
    }
}